.group {
  display: flex;
  color: white;
  gap: 10px;
  margin-bottom: 50px;
  @media (max-width: 640px) {
    display: block;
  }
}
.infoTop {
  align-items: center;
}
.btnBox {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn {
  text-transform: uppercase;
  padding: 20px 40px;
  font-size: 20px;
  margin: 0 auto;
  display: inline-block;
  @media (max-width: 900px) {
    padding: 12px 30px;
    font-size: 18px;
  }
  @media (max-width: 576px) {
    width: 100%;
    max-width: 400px;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  @media (max-width: 380px) {
    font-size: 16px;
    padding: 12px 10px;
  }
}
.block {
  display: grid;
  grid-gap: 30px;
  align-items: center;
  grid-template-columns: 46% 1fr;
  margin-bottom: 30px;
  &:first-child {
    margin-bottom: 50px;
  }
  @media (max-width: 900px) {
    grid-template-columns: unset;
    div:first-child {
      order: 1;
    }
  }
}
.right {
  grid-template-columns: 1fr 46%;
  @media (max-width: 900px) {
    grid-template-columns: unset;
    div:first-child {
      order: unset;
    }
  }
}
.wrapper {
  position: relative;
  height: 100%;
}
.image {
  transition: all .9s ease-in-out;
  border-radius: 8px;
  box-shadow: -3px 3px 7px 2px rgba(#000, 0.6);
  max-height: 60vh;
  width: 100%;
  height: 100%;
  @media (max-width: 900px) {
    max-height: 300px;
    max-width: 600px;
    align-self: center;
    margin: 0 auto;
    display: block;
  }
}
.imageLeft {
  box-shadow: 3px 3px 7px 4px rgba(#000, 0.6);
}
.centered {
  justify-content: center;
}
.noRadius {
  border-radius: unset;
}
